* {
    font-family: 'Nunito';
}

body {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-image: url('/assets/background.jpg');
    background-size: cover;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
}

.title {
    margin-bottom: 50px;

    font-style: normal;
    font-weight: 800;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    color: #FFFFFF;
}

.game-container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 720px;
    height: 480px;
    flex-direction: column;
    border-radius: 10px;
    margin-bottom: 150px;
    background: linear-gradient(137.72deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
    border: 1px solid #E4E4E4;
    border-radius: 20px;
}

.weekly-leaders {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: absolute;
    width: 280px;
    height: 680px;
    left: 40px;
    top: 105px;
    align-items: center;
    background: linear-gradient(137.72deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
    border: 1px solid #E4E4E4;
    backdrop-filter: blur(20px);
    border-radius: 20px;
}

.all-time-leaders {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: absolute;
    width: 280px;
    height: 680px;
    right: 40px;
    top: 105px;
    align-items: center;
    background: linear-gradient(137.72deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
    border: 1px solid #E4E4E4;
    backdrop-filter: blur(20px);
    border-radius: 20px;
}

.sub-title {
    padding-bottom: 30px;
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    text-align: center;
    color: #FFFFFF;
}

.leader-container {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    height: 50px;
    background: rgba(255, 255, 255, 0.4);
    border: 2px solid #FFFFFF;
    border-radius: 5px;
}

.leader-name {
    padding-left: 15px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
}

.leader-score {
    padding-right: 15px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
}

.header {
    display: flex;
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    justify-content: space-between;
    align-items: center;
}

.container {
    display: flex;
    width: 130px;
    height: 60px;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #E4E4E4;
    box-shadow: inset 0px -6px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 44px;
    color: #8C32FF;
}

.container.flash-red {
    border-color: #eb3636;
    color: #eb3636;
}

.container.flash-green {
    border-color: #58d040;
    color: #58d040;
}

.message {
    display: flex;
    justify-content: center;
    align-items: center;

    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
}

.word {
    margin-top: 40px;
    display: flex;
    color: white;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 44px;
    text-align: center;
    color: #FFFFFF;
}

.input {
    margin-top: 10px;
    border-radius: 5px;
    width: 300px;
    height: 20px;
    padding: 10px;
    background: transparent;
    border: 1.5px solid #FFFFFF;
    border-radius: 10px;
    color: #FFFFFF;
}

input:focus {
    outline: none;
  }

.button {
    margin-top: 20px;
    background: #8C32FF;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    border: none;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}